.sub_header {
  padding-top: 1vh;
  font-size: 1.8vh;
}
a:hover {
  color: green;
}
a {
  color: black;
  text-decoration: none;
}

a:active {
  color: green;
}
.trade_name {
  font-size: 3vh;
  font-weight: bold;
  color: black;
}
.phone_number {
  background: #5e801a;
  color: white;
  /* 
  width: 348px;
  text-align: center; */
  font-size: 2vh;
}
