.sub_header {
  padding-top: 1vh;
  font-size: 1.8vh;
}
a:hover {
  color: green;
}
a {
  color: #0060b6;
  text-decoration: none;
}

a:active {
  color: green;
}
.trade_name {
  font-size: 3vh;
  font-weight: bold;
  color: black;
}
